<form [formGroup]="loginForm">
	<div>
		<label>Full Name/Email </label>
		<input type="text" name="fullname" placeholder="Enter Full Name" autocomplete="off" formControlName="fullname" />
        <p class="error">Field is Required</p>
	</div>
	<div>
		<label>Password </label>
		<input type="text" name="password" placeholder="Enter Password" autocomplete="off" formControlName="password" />
		<button type="button">Show</button>
		<p class="error">Field is Required</p>
	</div>
    <p>Don't have an account <a (click)="goToSignUp()"><b><u style="color: blue;cursor: pointer;">Sign up</u></b></a></p>
	<button type="submit">Register</button>
	<button type="button">Reset</button>
</form>